<p>dashboard works!</p>

<div class="contact-container">
  <h1 class="title">Let’s talk</h1>

  <mat-card class="contact-card">
    <div class="left">
      <h3>Contacts</h3>
      <p class="email">thoma@gmail.com</p>
      <p class="website">www.thomas.com</p>
    </div>

    <div class="right">
      <h3>Our address</h3>
      <p class="address">Keralam, India</p>
    </div>

    <div class="avatar">
      <img src="assets/images/boy.png" />
    </div>

    <button
      mat-raised-button
      color="accent"
      (click)="getDetails()"
      class="details-btn"
    >
      Get Details
    </button>

    <button
      mat-raised-button
      color="accent"
      (click)="getFullList()"
      class="details-btn"
    >
      See full list
    </button>
  </mat-card>

  <br />
  <br />
  <div class="table-wrapper">
    <app-common-table
      [displayedColumns]="displayedColumns"
      [data]="listItems"
      [totalItems]="totalItems"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    >
    </app-common-table>
  </div>

  <p class="footer-text">All rights reserved 2026 © thoma</p>
</div>
