<p>dashboard works!</p>

<div class="contact-container">
  <h1 class="title">Let’s talk</h1>

  <mat-card class="contact-card">
    <div class="left">
      <h3>Contacts</h3>
      <p class="email">thoma@gmail.com</p>
      <p class="website">www.thomas.com</p>
    </div>

    <div class="right">
      <h3>Our address</h3>
      <p class="address">Keralam, India</p>
    </div>

    <div class="avatar">
      <img src="assets/images/boy.png" />
    </div>

    <button
      mat-raised-button
      color="accent"
      (click)="getDetails()"
      class="details-btn"
    >
      Get Details
    </button>
  </mat-card>

  <br />
  <br />
  <div class="table-wrapper">
    <table mat-table [dataSource]="listItems" class="mat-elevation-z8">
      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef>Event</th>
        <td mat-cell *matCellDef="let row">{{ row.event }}</td>
      </ng-container>

      <ng-container matColumnDef="created_date">
        <th mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.created_date | date: 'medium' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="live">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
          {{ row.live ? 'Live' : 'Not Live' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>

  <p class="footer-text">All rights reserved 2026 © thoma</p>
</div>
