.contact-container {
  background: #3c259c;
  padding: 40px;
  color: white;
  border-radius: 20px;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact-card {
  background: #6a53ff;
  border-radius: 60px;
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left, .right {
  width: 45%;
}

.left h3, .right h3 {
  font-size: 18px;
  opacity: 0.8;
}

.email, .website, .address {
  font-size: 20px;
  font-weight: 600;
}

.avatar {
  position: absolute;
  right: 30px;
  top: -50px;

  img {
    width: 280px;
  }
}

.footer-text {
  text-align: center;
  margin-top: 40px;
  opacity: 0.7;
}

.footer-icons {
  text-align: center;
  margin-top: 10px;
}


.details-btn {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
   width: 200px !important;
  display: inline-block;
}